@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #FBB600;
    --cor-secundaria: #FA1900; 
    --cor-terciaria: #FA7100;
    --cor-header: #1a1a1a;
    --cor-fundo: #121212;
    --cor-inputs: #1d1c1c;

    --cor-branco-suave: #ffebde;
    --cor-preto-suave: #121212;

    --cor-texto-principal: #ffebde;
    --cor-texto-secundaria: #d6c2b5; 
    --cor-texto-focus: #FBB600; 
}

:root[data-theme="light"] {
    --cor-principal: #1887d1;      
    --cor-secundaria: #FA1900;    
    --cor-terciaria: #1fa1f7;  
    --cor-header: #e6e6e6;
    --cor-fundo: #eae2dd; 
    --cor-inputs: #ede5e5;   

    --cor-branco-suave: #ffebde;   
    --cor-preto-suave: #121212;    

    --cor-texto-principal: #121212;
    --cor-texto-secundaria: #242424;
    --cor-texto-focus: #1887d1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto-principal);
    position: relative;
}

body {
    transition: background-color 0.3s ease, background 0.3s ease, border 0.3s ease
}

body h1 {
    color: var(--cor-texto-principal);
    font-size: 1.5em;
}

body p {
    color: var(--cor-texto-secundaria);
    font-size: 0.8em;
}

/* HEADER */

header {
    background-color: var(--cor-header);
    display: flex; align-items: center; justify-content: space-between; gap: 10px;
    height: 75px;
    padding: 15px 5%;
    border-bottom: 2px solid var(--cor-principal);
    position: sticky;
    top: 0;
    z-index: 1;
    transition: background-color 0.3s ease;
}

#header-left h1 {
    transition: font-size 0.3s ease;
}

#header-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* Menu */

#menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu-icon {
    width: 20px;
    fill: currentColor;
    transform: translateY(3px);
    transition: width 0.3 ease;
}

#menu a {
    color: var(--cor-texto-principal);
}

#menu a:hover {
    color: var(--cor-principal);
}

#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--cor-texto-principal);
}

#theme-toggle:hover {
    color: var(--cor-principal);
}



/* Perfil */

#perfil-wrapper {
    position: relative;
}

#perfil {
    background-color: var(--cor-principal);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    outline: 2px solid var(--cor-principal);
    border: 2px solid var(--cor-header);
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease, outline 0.3s ease, height 0.3s ease, width 0.3s ease;
    overflow: hidden;
}

#perfil:hover {
    transform: scale(1.05);
    background-color: var(--cor-terciaria);
}

#perfil img {
    width: 100%;
}

#perfil-menu {
    position: absolute;
    top: 60px;
    right: 0;

    padding: 8px;
    background-color: var(--cor-preto-suave);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    width: 160px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.25s ease;
    z-index: 10;
}

#perfil-menu::before {
    content: "";
    position: absolute;
    top: -6px;
    right: 15px;

    width: 12px;
    height: 12px;
    background-color: var(--cor-preto-suave);
    transform: rotate(45deg);

    border-left: 1px solid rgba(255, 255, 255, 0.08);
    border-top: 1px solid rgba(255, 255, 255, 0.08);

}

#perfil-menu a {
    padding: 12px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--cor-branco-suave);
    font-size: 14px;
    transition: background 0.2s ease, color 0.2s ease;
}

#perfil-menu a:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: var(--cor-principal);
}

#perfil-menu .logout {
    color: var(--cor-secundaria);
}

#perfil-menu.perfil-visibilidade {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* MAIN */

main {
    display: grid;
    justify-items: center;
    align-items: start;
    grid-template-columns: auto 90% auto;
    grid-template-rows: auto auto auto auto;
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    padding: 40px 0;
}
