@charset "UTF-8";

/* Telas muito pequenas */
@media screen and (max-width: 360px) {

}

/* Tablets / telas médias */
@media screen and (min-width: 768px) {

    #header-left h1{
        font-size: 1.8em;
    }

    .menu-icon {
        width: 24px;
    }

    #perfil {
        width: 50px;
        height: 50px;
    }
}

/* Desktop padrão */
@media screen and (min-width: 1028px) {

}

/* Telas grandes */
@media screen and (min-width: 1440px) {

}
