@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-texto-principal: #3b2a1d;
    --cor-branco-suave: #ffebde;
    --cor-botao: #ff7a1a;
    --cor-botao-hover: #e66912;
    --cor-borda-focus: #3b2a1d;
    --cor-background-overlay: rgba(0, 0, 0, 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background: url(../imagens/Background.jpg) no-repeat center center;
    background-size: cover;
    transition: all 0.3s ease;
}

body h1 {
    font-size: 2em;
}

body p {
    font-size: 1.2em;
}

header {
    width: 100%;
    height: 40px;
}

nav#imenu {
    width: 100%;
    height: 40px;
}

nav#imenu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    gap: 15px;
    margin-right: 20px;
    list-style: none;
}

nav#imenu ul li a {
    font-weight: bold;
    color: var(--cor-texto-principal);
    text-decoration: none;
    transition: color 0.3s;
}

nav#imenu ul li a:hover {
    color: var(--cor-branco-suave);
}

main {
    display: grid;
    grid-template-columns: auto 90% auto;
    grid-template-rows: auto fit-content fit-content auto;
    justify-items: center;
    align-items: start;
    width: 100%;
    min-height: calc(100vh - 40px);
}

section {
    transition: all 0.3s ease;
}

section#container-home {
    grid-column: 2;
    grid-row: 2;
    max-width: 300px;
}

section#container-home h1 {
    color: var(--cor-texto-principal);
    font-size: 2.8em;
    font-weight: 300;
    text-align: left;
    padding-bottom: 10px;
}

section#container-home p {
    color: var(--cor-texto-principal);
    font-size: 1em;
    text-align: left;
}

section.registros {
    grid-column: 2;
    grid-row: 3;
    width: fit-content;
    text-align: center;
    padding-bottom: 20px;
}

section.registros h1 {
    padding: 20px;
    color: var(--cor-branco-suave);
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 76px);
    gap: 10px;
    padding-top: 10px;
    align-items: center;
}

.formulario p input {
    background-color: var(--cor-branco-suave);
}

.formulario p.user {
    height: 40px;
    width: 100%;
    max-width: 300px;
}

.formulario p input,
.formulario p a {
    max-width: 300px;
}

.formulario p.user input {
    width: 100vw;
    height: 35px;
    border: none;
    border-radius: 2px;
    transition: height 0.3s ease;
}

.formulario p.user input::placeholder {
    padding-left: 10px;
    transition: transform 0.3s ease;
    color: #7a6657;
}

.formulario p.user input:focus {
    height: 40px;
    border: 1px solid var(--cor-borda-focus);
}

.formulario p.user input:focus::placeholder {
    transform: translate(-5px, -8px);
}

.formulario p.enviar {
    align-self: flex-start;
}

.formulario p.enviar input {
    font-weight: bold;
    color: var(--cor-branco-suave);
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 4px;
    background-color: var(--cor-botao);
    transition: background-color 0.3s ease;
}

.formulario p.enviar input:hover {
    cursor: pointer;
    background-color: var(--cor-botao-hover);
}

.formulario p.esquecer {
    align-self: flex-start;
}

.formulario p.esquecer a {
    width: 200px;
    font-size: 0.65em;
    text-decoration: none;
    color: var(--cor-branco-suave);
}

section#container-cadastro {
    display: none;
}
